<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cryptography</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body onload="data()">

        <div class="container" name="teste">
            <img src="/img/cyber-security.png">
            <h1>Cryptography</h1>
            <p>Open your PDF here</p>
            <button type="button" name="" value="submit" class="btnSubmit" onclick="getFile()">SUBMIT</button>
            

            <div class="fileList"></div>

            <!-- Formulário usado para enviar as informações do cliente pro servidor através do POST-->
            <form action="/" method="POST" class="btn" name="teste2" style="display: none" enctype="multipart/form-data">
                
                <input type="file" name="fileupload" id="btnFile" style="display: none" onchange="showFile(this)" >
                
                <!-- input usado para testar criptografia-->
                <!-- <input type="hidden" name="secret" value="Oi"> -->

                <!-- 
                    O name é como esse botão será identificado no body, é importante que fiquem 
                    iguais para facilitar na hora de fazer a lógica de qual botão foi escolhido 
                    (não é obrigatório, só acho que facilita).

                    O valor é o que eu estou pegando lá no arquivo crypto quando faço:
                        let { btn_crypto } = req.body
                    
                -->
                <button type="submit" name="btn_crypto" value="encrypt" class="btnCrypt">Encrypt</button>
                <button type="submit" name="btn_crypto" value="decrypt" class="btnCrypt">Decrypt</button>
            </form>

        </div>

        <footer id="footer"></footer>
        
        <script src="/index.js"></script>
    </body>
</html>