body {
    margin: 0;
    padding: 0;
    background: #2e2c2c;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #141414;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin: 10px auto;
    width: 500px;
    height: 550px;
    border-radius: 10%;
}

.container button[type="button"] {
    cursor: pointer;
}

.container button[type="submit"] {
    cursor: pointer;
}

.container img {
    width: 150px;
}

button.btnSubmit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	padding: 10px 20px;
	background: #0048ff;
	border-radius: 7px;
	border: none;
}

.btnCrypt {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #ffffff;
    padding: 5px;
    margin: 3px;
	background: #000000;
	border-radius: 7px;
	border: none;
}

#footer {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    text-align: center;
    margin: 10px;
    padding: 5px;
}
